&#topo {
    @include responsive(medium) {
        overflow: inherit;
    }

    position: relative;
    z-index: 1;
    overflow: hidden;

    width: 100%;

    h2 {
        @include responsive(medium) {
            margin: space(base) 0;
        }

        margin: - space(gg) 0 space(base);
    }

    img {
        @include responsive(medium) {
            max-width: 100%;
            width: 100%;
            min-height: inherit;
        }

        max-width: inherit;
        width: inherit;
    }

    .container {
        @include responsive(medium) {
            margin: auto;
        }

        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        margin: 100px auto auto;

        > .row {
            align-content: center;
            margin-top: space(g);
            height: 100%;

            h2 {
                color: color(light);
            }
        }
    }
}